<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- Installable release-equivalent build for shell-owned Perfetto/Simpleperf collection. -->
        <profileable android:shell="true" />
    </application>
</manifest>
